<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bonc.migu.mapper.MobileLevelMapper">
    <select id="count" resultType="int">
        SELECT count(MSISDN) FROM TEST.MOBILELEVEL
    </select>

    <select id="queryAll" resultType="com.bonc.migu.pojo.MobileLevel">
        SELECT * FROM TEST.MOBILELEVEL
    </select>

    <insert id="save" parameterType="com.bonc.migu.pojo.MobileLevel">
        UPSERT INTO  TEST.MOBILELEVEL(
            MSISDN,
            C1.UUID,
            C1.LEVEL,
            C1.LEVELSTATUS,
            C1.STATUS,
            C1.SOURCE,
            C1.CREATETIME,
            C1.UPDATETIME
            )
            VALUES(
            #{msisdn},
            #{uuid},
            #{level} ,
            #{levelStatus} ,
            #{status} ,
            #{source} ,
            #{createTime} ,
            #{updateTime}
            )
    </insert>

    <select id="queryById" resultType="com.bonc.migu.pojo.MobileLevel">
        SELECT * FROM TEST.MOBILELEVEL WHERE MSISDN=#{id}
    </select>

    <delete id="deleteById">
        DELETE FROM TEST.MOBILELEVEL WHERE MSISDN=#{id}
    </delete>
</mapper>