<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bonc.migu.mapper.MobileLevelMapper">
    <select id="count" resultType="int">
        SELECT count(MSISDN) FROM "migu_music_fensheng"."dapp_vrbt_mobile_user_level_resource_info"
    </select>

    <select id="queryAll" resultType="com.bonc.migu.pojo.MobileLevel">
        SELECT * FROM "migu_music_fensheng"."dapp_vrbt_mobile_user_level_resource_info"
    </select>

    <insert id="save" parameterType="com.bonc.migu.pojo.MobileLevel">
        UPSERT INTO  "migu_music_fensheng"."dapp_vrbt_mobile_user_level_resource_info"(
            MSISDN,
            "cf"."level"
            )
            VALUES(
        #{msisdn},
        #{level}
        )
    </insert>

    <select id="queryById" resultType="com.bonc.migu.pojo.MobileLevel">
        SELECT * FROM "migu_music_fensheng"."dapp_vrbt_mobile_user_level_resource_info" WHERE MSISDN=#{id}
    </select>

    <delete id="deleteById">
        DELETE FROM "migu_music_fensheng"."dapp_vrbt_mobile_user_level_resource_info" WHERE MSISDN=#{id}
    </delete>
</mapper>